body 
{
	background-color: #DADADA;;
}
.ui.menu .item img.logo 
{
	margin-right: 1.5em;
}
.main.container 
{
	margin-top: 7em;
}
.wireframe 
{
	margin-top: 2em;
}
.ui.footer.segment 
{
	margin: 5em 0em 0em;
	padding: 5em 0em;
}
.ui.menu.fixed
{
	border-right: 0px;
}

form.fixed-width 
{
    width: 400px;
}

.post .divider
{
	margin-left:-16px;
	margin-right:-16px;
}

.author .ui.comments .comment .metadata
{
    display: block;
	margin-left: 0px; 
}
.ui.segment.attached
{
	border-top: none;
}
.ui.form .field > label.form
{
	color: #fff;
}
.post .content .image img
{
	max-width: 100%;
	
}
.post .content .image
{
	margin-top: 10px;
}
.ui.comments .comment .actions
{
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
}
